@page "/"

<PageTitle>Home page</PageTitle>

<section class="mx-auto max-w-6xl bg-white mb-20">
    <article class="my-6 sm:my-20 px-6 py-12 sm:py-20 sm:px-12 shadow-lg rounded-lg text-left">
        <h1 class="text-3xl sm:text-4xl font-bold text-gray-800 mb-8 sm:mb-20">
            Learn Free IELTS Reading Here Quick 
        </h1>
        <p class="text-base sm:text-xl text-gray-600 mb-6">
            Reading
        </p>
        <p class="text-base sm:text-xl text-gray-600 mb-6">
            <ul>
                <li>View the <a class="text-indigo-600 font-semibold hover:underline" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAN__javcE5UN0VGWEUxN0NJRFI1RzNITThWM0wzQkxIVy4u" target="_blank">Reading Practice 1 →</a></li>
                <li>View the <a class="text-indigo-600 font-semibold hover:underline" href="" target="_blank">Reading Practice 2 →</a></li>
                <li>View the <a class="text-indigo-600 font-semibold hover:underline" href="" target="_blank">Reading Practice 3 →</a></li>
                <li>View the <a class="text-indigo-600 font-semibold hover:underline" href="" target="_blank">Reading Practice 4 →</a></li>
            </ul>
            
            
            
            
        </p>
    </article>
   
</section>
 <article class="my-6 sm:my-20 px-6 py-12 sm:py-20 sm:px-12 shadow-lg rounded-lg text-left">
  
    </article>
